body {
    margin: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    background-color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6943FF;
    width: 100%;
    padding-bottom: 30px;
    color: white;
    text-align: center;
}

::placeholder {
    color: white;
}

#input-btn {
    width: 100px;
    margin-top: 10px;
    background-color: #6943FF;
    border: 2px solid #B295FF;
    border-radius: 5px;
    color: white;
    font-weight: bolder;
    font-size: 60px;
    text-align: center;
}

#convert-btn {
    margin-top: 25px;
    padding: 10px 25px;
    border-radius: 5px;
    border: 0;
    color: #3D3D3D;
}

#length-desc, #volume-desc, #mass-desc {
    font-size: 15px;
}

h3 {
    margin-top: 25px;
}

#length-card, #volume-card, #mass-card {
    width: 90%;
    height: 110px;
    border-radius: 5px;
    background-color: white;
    margin-top: 20px;
    color: #5A537B;
}

#mass-card {
    margin-bottom: 20px;;
}